.homepage-container {
    display: flex;
    height: 100vh;
    transition: transform 0.4s ease;
}

.sidebar-open {
    transform: translateX(250px);
}

.sidebar-closed {
    transform: translateX(80px);
}

.sections-container {
    right: 80px;
    position: relative;
    top: 0;
    flex: 1;
    overflow-y: hidden;
}

/* -- WELCOME SECTION START -- */
.sections-container #section-0 {
    background-color: #b69c8b;
}

.sections-container #section-0 #section-0-header {
    text-align: center;
    font-size: 45px;
    margin: 10px 0 20px;
}

.sections-container #section-0 #section-0-paragraph {
    text-align: center;
    font-size: 24px;
    margin: 0 0 20px;
}

.sections-container #section-0 #section-0-portfolio-btn {
    text-align: center;
    font-size: 18px;
    margin: 30px 0 auto;
}

.sections-container #section-0 #section-0-portfolio-btn:hover {
    text-align: center;
    font-size: 18px;
    margin: 30px 0 auto;
}

/* -- WELCOME SECTION END -- */

/* -- ABOUT SECTION START -- */
.sections-container #section-1 {
    background-color: #242424;
}

.sections-container #section-1 #section-1-header {
    text-align: center;
    font-size: 38px;
    margin: 10px 0 40px;
}

.sections-container #section-1 #section-1-paragraph {
    text-align: center;
    margin: 0 auto;
    line-height: 40px;
    font-size: 22px;
    width: 80%;
}

/* -- ABOUT SECTION END -- */

/* -- TOOLS SECTION START -- */

.sections-container #section-2 {
    background-color: #b69c8b;
}

.sections-container #section-2 #section-2-header {
    text-align: center;
    font-size: 38px;
    margin: 10px 0 40px;
}

.sections-container #section-2 #section-2-tools-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: 40px;
    width: 80%;
    margin: 0 auto;
    font-size: 21px;
}

.sections-container #section-2 #section-2-tools-list-link {
    text-decoration: underline;
}
/* -- TOOLS SECTION END -- */

/* -- FEATURED SECTION START -- */
.sections-container #section-3 {
    background-color: #242424;
}

.sections-container #section-3-header {
    text-align: center;
    font-size: 38px;
    margin: 10px 0 40px;
}

.sections-container #section-3-grid {
    display: flex;
    gap: 25px;
}

.sections-container #section-3-project-card {
    background: #b69c8b;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
}

.sections-container #section-3-project-image {
    width: 300px;
    height: 150px;
    object-fit: cover;
}

.sections-container #section-3-project-link {
    text-decoration: underline;
    color: inherit;
}

.sections-container #section-3-project-link:hover {
    text-decoration: underline;
    color : rgb(255, 0, 0);
}

.sections-container #section-3-project-header {
    font-size: 24px;
    margin-top: 10px;
}

.sections-container #section-3-project-text {
    font-size: 18px;
}
/* -- FEATURED SECTION END -- */

/* -- FOOTER SECTION START -- */
.sections-container #section-4 {
    background-color: #b69c8b;
    margin-top: 20px;
    height: 80px;
}

.sections-container #section-4 #footer-container {
    display: flex;
    background-color: #333;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    padding: 10px 10px;
}

.sections-container #footer-content {
    margin-left: 80px;
    padding: 10px;
    gap: 10px;
}

.sections-container #footer-content a {
    color: white;
    text-decoration: none;
}

.sections-container #footer-content a:hover {
    text-decoration: underline;
    color : rgb(255, 0, 0);
}

.sections-container #footer-copyright {
    color: inherit;
}

.sections-container #githubLink {
    display: flex;
    justify-content: left;
    align-items: center;
}

.sections-container #githubIcon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}
/* -- FOOTER SECTION END -- */

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease, transform 0.5 ease;
    opacity: 0.5;
    transform: translateY(0);
}

.section.active {
    opacity: 1;
    transform: translateY(0);
}

.home-dot-selector {
    position: fixed;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    z-index: 100;
}

.dot {
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active-dot {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #333;
    margin: 8px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}