.navigationBar {
    position: sticky;
    top: 0;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    z-index: 100000;
    width: 100%
}

.navigationBar ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.navigationBar li {
    display: inline;
}

.navigationBar li a {
    color: white;
    text-decoration: none;
}

.navigationBar a:hover {
    text-decoration: underline;
    color : rgb(255, 0, 0);
}

.navigationBar #logoutButton {
    position: absolute;
    top: 20px;
    right: 20px;
}

.navigationBar #loginButton {
    position: absolute;
    top: 20px;
    right: 20px;
}

.navigationBar #loggedInText {
    position: absolute;
    top: 6px;
    right: 120px;
}