.pomodoro-container {
    background-color: #b69c8b;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    margin: 40px auto;
    width: 800px;
}

.pomodoro-header {
    text-align: center;
    font-size: 38px;
    margin: 20px 0 20px;
}

.pomodoro-timer-label {
    text-align: center;
    font-size: 38px;
    margin: 0 20px;
}

.pomodoro-container #pomodoro-timer {
    font-size: 140px;
    margin-top: -40px;
}

.pomodoro-container #focused-time{
    font-size: 20px;
    margin-top: -40px;
}

.pomodoro-container #start-button, #pause-button, #reset-button {
    width: 60px;
    margin-left: 8px;
}

.pomodoro-container #work-button, #short-break-button, #long-break-button {
    margin-left: 8px;
}