.pomodoro-container {
    position: relative;
    top: 0;
    height: 100vh;
}

.pomodoro-timer-container {
    background-color: #b69c8b;
    padding: 40px;
    border: 1px solid #ddd;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 18px;
    margin: 0 auto;
    width: 800px;
}

.pomodoro-header {
    text-align: center;
    font-size: 38px;
    margin: 0 0 20px;
    padding-top: 40px;
}

.pomodoro-timer-label {
    text-align: center;
    font-size: 38px;
    margin: 0 20px;
}

.pomodoro-container #pomodoro-timer {
    font-size: 140px;
    margin-top: -40px;
}

.pomodoro-container #focused-time{
    font-size: 20px;
    margin-top: -40px;
}

.pomodoro-container #player-buttons {
    margin-bottom: 8px;
}

.pomodoro-container #start-button, #pause-button, #reset-button {
    width: 60px;
    margin-left: 8px;
}

.pomodoro-container #short-work-button, #long-work-button, #short-break-button, #long-break-button {
    margin-left: 8px;
}