#root {
    width: 100%;
    position: relative;
    min-height: 100vh;
    overflow: visible;
}

.navigationBar {
    position: sticky;
    top: 0;
    background-color: #333;
    padding: 10px;
    z-index: 100000;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 14px;
}

li {
    display: inline;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#logoutButton {
    position: fixed;
    top: 20px;
    right: 20px;
}

#loginButton {
    position: fixed;
    top: 20px;
    right: 20px;
}

#loggedInText {
    position: fixed;
    top: 6px;
    right: 120px;
}

.slick-prev, .slick-next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
}

.slick-prev:hover, .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slick-slider .slick-dots li button {
    color: rgba(255, 255, 255, 0.5); /* Default dot color */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Optional: border around dots */
    border-radius: 50%; /* Make the dots circular */
    transition: background 0.3s ease; /* Smooth transition effect */
}

.slick-slider .slick-dots li.slick-active button {
    background: #ffffff; /* Active dot color */
    border: 2px solid #ffffff; /* Optional: border around active dot */
}

.slick-slider .slick-dots li button:hover {
    background: rgba(255, 255, 255, 0.8); /* Dot color on hover */
    border-color: rgba(255, 255, 255, 0.8);
}

.slick-slider .slick-dots {
bottom: -30px; /* Position the dots slightly lower */
}